@using System.Data.Entity.Core.Metadata.Edm
@model Depots.WebUI.Models.DrugUnitsListViewModel

@{
    ViewBag.Title = "Drug Units In Stock";
}

<h2 class="page-header">Drug Units <small>In Stock</small></h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Pick Order</th>
            <th>Depot</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drugUnit in Model.DrugUnits)
        {
            <tr>
                <td>@drugUnit.DrugUnitId</td>
                <td>@drugUnit.DrugType.DrugTypeName</td>
                <td>@drugUnit.PickNumber</td>
                <td>
                    @using (Html.BeginForm("AssociateUnitToDepot", "DrugUnits", new { page = Model.PagingInfo.CurrentPage }))
                    {
                        @Html.Hidden("DrugUnitId", drugUnit.DrugUnitId)
                        @Html.DropDownList("DepotId", new SelectList(Model.ExistingDepots, "DepotId", "DepotName", drugUnit.Depot?.DepotId), "No depot assigned");
                        <input type="submit" value="Assign to selected depot"/>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

