@model Depots.WebUI.Models.DepotsListViewModel

@{
    ViewBag.Title = "Depots all over the world";
}

<h2 class="page-header">Depots <small>All over the world</small></h2>

<div class="depots-list">
    @foreach (var depotView in Model.Depots)
    {
        <div class="depot">
            <span class="depot-name">@depotView.Depot.DepotName</span>
            <span class="depot-total">@depotView.CountUnits @(depotView.CountUnits != 1 ? "units" : "unit")</span>
            <span class="depot-country">@depotView.Depot.Country.CountryName</span>                       
            <div class="depot-units">
                @if (depotView.DepotDrugUnits.Any())
                {
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Unit ID</th>
                                <th>Type</th>
                                <th>Pick Order</th>
                            </tr>
                        </thead>
                        <tbody>
                         @foreach (var unit in depotView.DepotDrugUnits)
                         {
                             <tr>
                                 <td>@unit.DrugUnitId</td>
                                 <td>@unit.DrugType.DrugTypeName</td>
                                 <td>@unit.PickNumber</td>
                             </tr>      
                         }
                        </tbody>
                    </table>                  
                }
                else
                {
                    <p>Unfortunatelly, there are no drug units in this depot at the moment</p>
                }
            </div>
        </div>
    }
</div>


<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".depot .depot-units").hide();
            $(".depot .depot-name").on("click", function() {
                $(".depot .depot-units").slideUp(500);
                $(this).parent().find(".depot-units").slideDown(500);
            });
        });
    </script>
}
